*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size:16px ;
    font-family: 'Rubik', sans-serif;
    color: $color-dark-1;
}
img {
    // display: block;
    max-width: 100%;
    height: auto;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.wrapContent{
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-weight:$fw1;
    color: $color-dark-2;
    font-size:$fs2;
    line-height: 1.428571429;
}
@media (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
}