* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: #191919;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapContent {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #181818;
  font-size: 13px;
  line-height: 1.428571429;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn-secondary {
  color: #363f4d;
  background-color: #f9f9f9;
  border-color: #ffffff;
  font-size: 13px;
}

.btn-secondary:hover {
  color: #2e6ed5;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn-secondary.dropdown-toggle {
  color: #212529;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn-secondary.dropdown-toggle:focus {
  color: #212529;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.oder a {
  color: #363f4d;
}

#top {
  padding-top: 4px;
  margin: 0 -95px;
  height: 45px;
  background: #f9f9f9;
  border-bottom: 1px solid #ebebeb;
}

#top .container {
  width: 100%;
}

#top .container .box__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

#top .container .box__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  line-height: 40px;
}

#top .container .box__right .support {
  padding-right: 15px;
}

#top .container .box__right .oder {
  padding-right: 15px;
}

.dropdown-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-menu a img {
  margin-right: 10px;
}

.container__logo {
  padding: 22px 0;
}

.container__logo a {
  float: left;
}

.container__logo ul {
  float: right;
  font-size: 13px !important;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 37px;
  position: relative;
}

.container__logo ul li a {
  color: #363f4d !important;
  font-weight: 500;
}

.container__logo ul li a:hover {
  color: #2e6ed5 !important;
}

.hearder__top {
  padding-bottom: 80px;
}

.col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hearder__search {
  width: 100%;
}

.hearder__search .form-control {
  width: 90%;
  border: 2px solid #2e6ed5;
  border-radius: 0;
}

.hearder__search .form-inline button {
  border-color: #2e6ed5;
  background: #2e6ed5;
  color: #ffffff;
  border-radius: 0;
}

.hearder__cart .modal .modal-dialog {
  -webkit-box-shadow: 0 0 50px 0 rgba(7, 7, 7, 0.1);
          box-shadow: 0 0 50px 0 rgba(7, 7, 7, 0.1);
}

.hearder__cart .modal .modal-dialog .cart-content {
  padding: 10px 35px 0 35px;
}

.hearder__cart .modal .modal-dialog .cart-content .cart-product {
  width: 100%;
}

.hearder__cart .modal .modal-dialog .cart-content .cart-product tbody tr {
  border-bottom: 1px solid #ebebeb;
}

.hearder__cart .modal .modal-dialog .cart-content .cart-product tbody tr td {
  border: none;
}

.hearder__cart .modal .modal-dialog .cart-content .cart-product tbody tr td a {
  color: #212529;
}

.hearder__cart .modal .modal-dialog .cart-content .cart-product tbody tr td p {
  margin-bottom: 0;
}

.hearder__cart .modal .modal-dialog .cart-content .card-pay {
  width: 100%;
  margin-bottom: 20px;
}

.hearder__cart .modal .modal-dialog .card-btn {
  background-color: #37475b;
  padding: 25px 35px;
}

.hearder__cart .modal .modal-dialog .card-btn button {
  display: block;
  background-color: #586985;
  width: 100%;
  color: white;
}

.hearder__cart .modal .modal-dialog .card-btn button:hover {
  background-color: #2e6ed5;
}

.hearder__cart .modal .modal-dialog .card-btn .btn:first-of-type {
  margin-bottom: 10px;
}

.carousel {
  padding-top: 30px;
}

.product {
  margin-top: 20px;
}

.product__list {
  margin: auto 0;
}

.product__list .product__item {
  background-color: #fff;
  border: 1px solid #f2f2f2;
}

.product__list .product__item .product__content {
  padding: 20px;
}

.product__list .product__item .product__content--name {
  color: #363F4D;
  font-size: 20px;
}

.product__list .product__item .product__content--star {
  color: #f9ba48;
}

.product__list .product__item .product__content--img {
  padding: 20px 0;
}

.product__list .product__item .product__content--info {
  padding-bottom: 20px;
}

.product__list .product__item .product__content--info span {
  color: #2e6ed5;
  padding-left: 10px;
}

.product__list .product__item .product__content--bottom button {
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  color: #a29d9a;
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product__list .product__item .product__content--bottom .col-8 .quantity {
  display: none;
}

.product__list .product__item .product__content--bottom .col-8, .product__list .product__item .product__content--bottom .col-2 {
  padding: 5px;
}

.product__list .product__item .product__content--bottom:hover button {
  background-color: #363f4d;
  color: white;
}

.product__list .product__item .product__content--bottom:hover button:hover {
  background-color: #2e6ed5;
}

.product__list .product__item .product__content--bottom.active .col-8 button {
  display: none;
}

.product__list .product__item .product__content--bottom.active .col-8 .quantity {
  display: block;
  color: red;
}

.wrapper {
  background-color: #1e1e2f;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.wrapper .navbar {
  padding: 10px 30px 10px 15px;
}

.wrapper .navbar .navbar-logo {
  color: white;
  font-size: 16px;
  margin-left: 20px;
  position: fixed;
}

.wrapper .navbar .navbar-logo span {
  padding-left: 10px;
}

.wrapper .navbar .navbar-logo i {
  font-size: 25px;
}

.wrapper .navbar #btn-search-header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}

.wrapper .navbar #btn-search-header input {
  border: 1px solid #e44cc4;
  color: white;
}

.wrapper .navbar #btn-search-header input:focus {
  -webkit-box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
          box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  color: #e44cc4;
}

.wrapper .navbar #btn-search-header button {
  border: 1px solid #e44cc4;
  color: white;
}

.wrapper .navbar #btn-search-header button:focus {
  -webkit-box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
          box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  color: #e44cc4;
}

.wrapper .navbar .nav-item {
  position: relative;
}

.wrapper .navbar .nav-item .nav-link {
  position: relative;
}

.wrapper .navbar .nav-item .nav-link img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.wrapper .navbar .nav-item .nav-link.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: -10px;
  color: white;
}

.wrapper .navbar .nav-item .dropdown-menu {
  bottom: -230%;
  right: 0;
  left: unset;
  z-index: 99;
  padding: 10px;
}

.wrapper .navbar .nav-item .dropdown-menu .dropdown-item {
  font-size: 0.9em;
  color: #9a9a9a;
}

.wrapper .sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 230px;
  height: calc(100vh - 120px);
  background: -webkit-gradient(linear, left bottom, left top, from(#389466), to(#42b883));
  background: linear-gradient(0deg, #389466, #42b883);
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.589);
          box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.589);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 80px 0 0 30px;
  border-radius: 10px;
  z-index: 99;
  padding: 20px;
}

.wrapper .sidebar-menu .sidebar-header {
  padding: 10px;
  color: black;
  border-bottom: 1px solid white;
}

.wrapper .sidebar-menu .sidebar-header i {
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}

.wrapper .sidebar-menu .sidebar-header span {
  font-size: 20px;
  font-weight: 400;
}

.wrapper .sidebar-menu .sidebar-list .sidebar-item {
  padding: 7px 0;
}

.wrapper .sidebar-menu .sidebar-list .sidebar-item a i {
  padding-right: 10px;
}

.wrapper .sidebar-menu .sidebar-list .sidebar-item a {
  padding: 0 10px;
  position: relative;
  color: black;
  opacity: 0.7;
}

.wrapper .sidebar-menu .sidebar-list .sidebar-item a:hover {
  opacity: 1;
}

.wrapper .sidebar-menu .sidebar-list .sidebar-item .subMenu li a {
  padding-left: 45px;
  font-size: 0.9em;
  font-weight: 400;
}

.wrapper .sidebar-menu .sidebar-list .sidebar-item .dropdown-toggle {
  position: relative;
  width: 100%;
  display: block;
}

.wrapper .sidebar-menu .sidebar-list .sidebar-item .dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .sidebar-menu a {
  color: #191919;
}

.wrapper .sidebar-menu.active {
  margin-left: -250px;
}

.wrapper .content {
  background-color: #1e1e2f;
  width: 100%;
  height: 100%;
  padding: 5px 30px 30px 300px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper .content.active {
  padding-left: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper .content .tableSP {
  background-color: #27293d;
  height: 40vh;
  -webkit-box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
          box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  border-radius: 10px;
  padding: 20px;
  min-height: 83vh;
}

.wrapper .content .tableSP h3 {
  color: white;
  font-weight: 400;
}

.wrapper .content .tableSP .custom-select {
  border: 1px solid #e44cc4;
  color: white;
  color: black;
}

.wrapper .content .tableSP .custom-select:focus {
  -webkit-box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
          box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  color: #e44cc4;
}

.wrapper .content .tableSP .custom-select:focus {
  color: black;
}

.wrapper .content .tableSP #btnAdd {
  border: 1px solid #e44cc4;
  color: white;
}

.wrapper .content .tableSP #btnAdd:focus {
  -webkit-box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
          box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  color: #e44cc4;
}

.wrapper .content .tableSP .table {
  display: block;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 82%;
}

.wrapper .content .tableSP .table thead tr th {
  border-top: none;
  color: rgba(255, 255, 255, 0.911);
  font-size: 1em;
  font-weight: 400;
}

.wrapper .content .tableSP .table tr,
.wrapper .content .tableSP .table th,
.wrapper .content .tableSP .table td {
  border-color: rgba(255, 255, 255, 0.096);
}

.wrapper .content .tableSP .table th,
.wrapper .content .tableSP .table td {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  font-weight: 400;
}

.wrapper .content .tableSP .table img {
  width: 50px;
}

.wrapper .modal-content {
  background: -webkit-gradient(linear, left bottom, left top, from(#389466), to(#42b883));
  background: linear-gradient(0deg, #389466, #42b883);
}

.wrapper .modal-content label {
  color: white;
  opacity: 0.8;
}

.wrapper .modal-content h5 {
  color: #1e1e2f;
}

.wrapper .modal-content select:focus,
.wrapper .modal-content input:focus,
.wrapper .modal-content textarea:focus {
  -webkit-box-shadow: 0 0 25px 0 rgba(8, 8, 8, 0.582);
          box-shadow: 0 0 25px 0 rgba(8, 8, 8, 0.582);
}

.wrapper .modal-content .btn-modal {
  color: white;
  background-color: #1e1e2f;
  opacity: 0.95;
}

.wrapper .modal-content .btn-modal:hover,
.wrapper .modal-content .btn-modal:focus {
  -webkit-box-shadow: 0 0 15px 0 rgba(8, 8, 8, 0.582);
          box-shadow: 0 0 15px 0 rgba(8, 8, 8, 0.582);
  opacity: 1;
}

.wrapper .invalid-feedback {
  color: #191919;
  font-size: 100%;
}

@media (max-width: 1199px) {
  .wrapper .sidebar-menu {
    margin-left: -250px;
  }
  .wrapper .sidebar-menu.active {
    margin-left: 40px;
  }
  .wrapper .content {
    padding-left: 30px;
  }
  .wrapper .content.active {
    margin-left: 250px;
  }
}

@media (max-width: 991px) {
  .wrapper .navbar-nav {
    margin-right: 10px !important;
  }
  .wrapper .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
    right: -15px;
  }
  .wrapper .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .wrapper .navbar .container-fluid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper .navbar #btn-search-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 575px) {
  .wrapper .navbar #btn-search-header {
    display: none;
  }
  .wrapper .navbar .navbar-logo {
    left: 0;
  }
  .wrapper .navbar .container-fluid {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */