//Color
$color-dark-1: #191919;
$color-dark-2: #181818;
$color-dark-3:#363f4d;
$color-dark-4:#212529;
$color-white-1: #ffffff;
$color-white-2: rgba(255, 255, 255, 1);
$color-white-3:#f9f9f9;
$color-blue-1:#2e6ed5;

//Font-size
$fs1:10px;
$fs2:13px;
//Font-weight
$fw1: 400;
$fw2: 500;
$fw3: 600;
$fw4: 700;
//padding



//Font-family
$font-primary: 'Rubik', sans-serif;